html,
body {
	height: 100%;
	font-family: 'Josefin Sans', sans-serif;
	text-align:center;

}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	font-weight: 600;
	font-family: "Oswald",sans-serif;
}

p {
	font-family: "Montserrat",sans-serif;
}

h2 {
	font-size: 48px;
}

h3 {
	font-size: 30px;
}

p {
	font-size: 18px;
	line-height: 1.8;
}


footer {
	position:absolute;
}

.site-btn {
	display: inline-block;
	text-transform: uppercase;
	font-size: 1rem;
	min-width: 13rem;
	min-height: 1rem;
	padding: 20px 10px 15px;
	position: relative;
	margin-right: 1rem;
	margin-top: 1rem;
	font-weight: 700;
	text-align: center;
	font-family: "Montserrat";
}

.site-btn:hover {
	color: #23AABC;
	text-decoration:None;
}


.page-title {
  text-align: center;
  font-weight: 100;
  font-size:4rem;
  padding: 0.25rem;
  margin: 0rem;
  font-family: 'Montserrat', sans-serif;
  color:dimgrey;
}
	

li {
  margin: 0;
  padding: 0 10px;
  display: block;
  float: right;
  text-decoration: none;
}

li a {
	color:black;
}






