html,

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "Oswald",sans-serif;
}

p {
	font-family: "Montserrat",sans-serif;
	font-size: 18px;
	line-height: 1.8;
}

h2 {
	font-size: 48px;
}

h3 {
	font-size: 30px;
}

.site-btn {
	display: inline;
	width: 100%;
	height: auto;
	text-transform: uppercase;
	font-size: 1rem;
	transition: all 0.5s;
	padding:0.3rem;
	position: relative;
	font-weight: 700;
	font-family: "Montserrat";
}

.site-btn:hover {
	color: #23AABC;
	text-decoration:None;
}


.site-btn span {
	display: inline;
	position: relative;
	transition: 0.5s;
}

.site-btn span:after {
	content: '\00bb';
	position: absolute;
	bottom: 0;
	opacity: 0;
	transition: 0.5s;
}

.site-btn:hover span {
	padding-right: 25px;
	color: #23AABC;
}

.site-btn:hover span:after {
	opacity: 1;
	right: 0.7rem;
}


.page-title {
	font-weight:100;
	text-align:center;
	font-size:3.55rem;
	padding: 0.25rem;
	margin: 0rem;
	font-family: 'Montserrat', sans-serif;
	color:dimgrey;
}

ul {
	text-align:center;
	vertical-align:center;
}	

li {
	padding: 1rem;
	display: inline;
	text-decoration: none;
}


li a {
	color:black;
}






